{{!< layout/default}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group media-list media-list-stream">
                <div id="chatRoomMessageList">
                    <!-- This is where messages will show up -->
                </div>
                <li class="media list-group-item">
                    <div class="input-group">
                        <input id="messageInput" type="text" class="form-control" placeholder="Message">
                        <div class="input-group-btn">
                            <button id="sendMessage" type="button" class="btn btn-default">
                                <span class="icon icon-paper-plane"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="/public/javascripts/application/homepage.js"></script>